.firstLine {
    display: flex;
    gap: 15px;
}

.secondLine {
    display: flex;
    gap: 15px;
}

.thirdLine {
    display: flex;
    gap: 15px;
}

.all {
    height: 100vh;
    display: flex;
    flex-direction: column;
    gap: 15px;
    align-items: center;
    justify-content: center;


}

button {
    height: 50px;
    width: 50px;
    border-radius: 10%;
}

.signs {
    display: flex;
    gap: 25px;

}