.all {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;

}

.border1 {
    display: flex;
    flex-direction: column;
    gap: 25px;
    justify-content: center;
    align-items: center;

    height: 50vh;
    border: 10px solid red;
    // border-radius: 10%;
    width: 50vw;
}